<div class="home">
	<div class="container-narrow">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div class="col-md-8">
					Nwosu Onyedikachi
				</div>
				<div class="col-md-4">
					<div class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></div>		
					<div class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span></div>		
				</div>
			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<div class="col-md-8">
					Dominion Victor
				</div>
				<div class="col-md-4">
					<div class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></div>		
					<div class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span></div>		
				</div>
			</div>
		</div>
	</div>
</div>